# Ignore virtual environment folders
new_venv/
env/
__pycache__/
serviceAccountKey.json


# Ignore Python bytecode
*.pyc
# Ignore environment variables and secrets
.env
*.env
# service account key (already listed above)
# Ignore local/test files
test.py
tempCodeRunnerFile.py
resizeimg.py
main.py

# Ignore OS-specific files
.DS_Store
Thumbs.db